@using PPB.DBManager.Models
@model List<StationConfigurationModel>

@{ 
    var intArrayPropertyName = (Model == null || Model.Count() == 0) ? "Name" : Model.First().DisplayName.Substring(0, Model.First().DisplayName.Length - 3);
}

<div class="modal-dialog" role="document">
    <div class="modal-content array-property-edit-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Property Name: <span class="property-name" style="margin-left:10px;">@intArrayPropertyName</span></h4>
        </div>

        @if (Model == null || Model.Count() == 0)
        {
            <div class="box-body">
                <label class="col-sm-2 control-label">NO DATA:</label>
                <label class="col-sm-10 control-label int-array-station-config">XXXXXXX</label>
            </div>
        }
        else
        {
            foreach (var m in Model)
            {
                <div class="box-body">
                    <label class="col-sm-4 control-label">@m.DisplayName</label>
                    <input type="text" class="col-sm-6 form-control int-array-station-config" data-configid="@m.Id" data-name="@m.MemberName" value="@m.MemberValue" />
                </div>
            }
        }

        <div class="modal-footer">
            <button type="button" class="btn btn-primary pull-right template-btn array-property-save-btn"> Save</button>
            <button type="button" class="btn btn-primary pull-right template-btn" data-dismiss="modal"> Cancel</button>
        </div>
    </div>
</div>